@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.head {
  align-items: center;
  background-image: linear-gradient(to right, #51197e 5%, #811fd2 30%, rgba(116, 28, 28, 0) 95%);
  color: white;
  font-family: 'Michroma', sans-serif;
  height: 100px;
  justify-content: space-around;
  width: 95%;
  position: fixed;
  z-index: 2;
}

.headTitle {
  height: 100%;
  width: 260px;
  color: white;
}

.titleLink {
  text-decoration: none;
}

.navButtons {
  height: 25px;
  margin: 5px;
  border: 1px solid #7e3cb3;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #DEC5EF;
  transition: 0.4s;
  font-weight: 700;
}

.navButtons:hover {
  cursor: pointer;
  font-weight: 700;
  color: white;
  border: 1px solid #8e51c0;
  box-sizing: border-box;
  background-color: #8e51c0;
}

.cartButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  height: 64px;
  width: 64px;
  right: -30px;
  top: 20px;
  cursor: pointer;
  /* z-index: 2; */
}

.cartBtnImage {
  height: 64px;
  width: 64px;
}

.cartQuantity {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -6px;
  font-size: 19px;
  height: 27px;
  width: 27px;
  border-radius: 100%;
  background-color: #d22525;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 700;
}
